.tabela1{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}





th, td {
    min-width: 60px;
    width: fit-content;
    border: 2px solid black;
    vertical-align: top;
    height: fit-content;
}
th:first-child {
    width: 90px;
}
tr:first-child{
    width: 90px;
}
th:nth-child(2){
    width: 90px;
}


.buttons{
    display: inline-block;
    padding-top: 10px;
}

.table2 {
    width: 100px;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
    padding: 0px;
}

.boje{
    min-height: 30px;
}


.zelena {
    background-color: lightgreen;
    height: 30px;
    width: 10px;
}

.crvena {
    background-color: lightcoral;
    height: 30px;
    width: 10px;
}
.bijela {
    background-color: white;
    height: 30px;
    width: 10px;
}
